<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
    <style>
      .sub-topics {
        display: none;
        visibility: hidden;
      }
      .topic-link {
        background-color: #60a5fa;
        color: white;
        transition: background-color 1s ease;
      }
      .topic-link:hover {
        background-color: #2563eb;
      }
      .sub-topic {
        background-color: white;
        padding: 0.5rem;
        margin-top: 0.5rem;
        border-radius: 0.25rem;
      }
      .sub-topic:hover {
        color: #2563eb;
        background-color: aliceblue;
      }
    </style>
    <script>
      function enrollCourse(id) {
        fetch(`/course/${id}/enroll`, {
          method: "post",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            //_csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.error(err));
      }
    </script>
  </head>
  <body>
    <%- include('navbar') %>
    <br />

    <div class="grid grid-cols-9 my-5">
      <div class="col-start-2 col-span-5">
        <div class="my-5">
          <img
            src="<%= courseDetails.image %>"
            alt=""
            width="700"
            height="500"
          />
        </div>
        <div class="my-5">
          <h2 class="text-2xl font-semibold">
            Course Name : <%= courseDetails.title %>
          </h2>
        </div>
        <div class="text-xl my-5">
          <span class="font-semibold">Instructor :</span>
          <span><%= courseDetails.instructor %></span>
        </div>

        <div class="text-xl my-5">
          <span class="font-semibold">Start date :</span>
          <span> <%= courseDetails.startDate.toDateString() %> </span>
        </div>

        <div class="text-xl my-5">
          <span class="font-semibold">End date :</span>
          <span> <%= courseDetails.endDate.toDateString() %> </span>
        </div>

        <div class="text-xl my-5">
          <h2 class="font-semibold">Description :</h2>
          <P><%= courseDetails.description %></P>
        </div>

        <div class="text-xl my-5">
          <span class="font-semibold">Level :</span>
          <span><%= courseDetails.level %></span>
        </div>

        <div class="text-xl my-5">
          <h1 class="font-semibold">Course Content</h1>
          <ol type="i">
            <% for( var i=0 ; i < courseDetails.syllabus.length ; i++) { %>
            <li><%= courseDetails.syllabus[i] %></li>
            <% } %>
          </ol>
        </div>
        <% if ( isJoined === true || isInstructor) { %>
        <span class="my-5">
          <a
            href="/course/<%= courseId %>/moduleList"
            class="border border-gray-600 text-white bg-cyan-600 hover:bg-cyan-800 my-3 font-medium rounded px-1.5 py-1"
            >View Course</a
          >
        </span>
        <% } else { %>
        <span class="my-5">
          <a
            href="/course/<%= courseId %>"
            onclick="enrollCourse(<%= courseId %>)"
            class="border border-gray-600 text-white bg-cyan-600 hover:bg-cyan-800 my-3 font-medium rounded px-1.5 py-1"
            >Enroll Now</a
          >
        </span>
        <% } %>
      </div>
    </div>
  </body>
</html>
